html {
  font-size: 30px;
  font-family: "Dongle", sans-serif;
}

.be {
  margin: 0;
  font-size: 100px;
  color: #FE18D3;
  text-shadow: 4px 4px 2px #FEFF38;
  text-align: center;
}
.ve {
 width: 250px;
 height: 0px;
 background-color: #4206F1;
 position: static;
 margin: auto;
 left: 50%;
 top: 100%;
}
.textoF {
  padding: 0px;
  margin: auto;
  text-align: center;
}
.ims{
  padding: auto;
}
.caja {
  margin: auto;
  width: 60%;
  background-color: #4206F1;
  border-radius: 5px;
}
.texto {
  bottom: 50px;
  margin: auto;
  text-align: center;
  text-decoration: underline;
  letter-spacing: 5px;
  white-space: normal;
}
.form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form input {
  width: 90%;
  height: 30px;
  border-radius: 5px;
}
.content{
  background-color:#3609be;
}
.button{
  padding: .5em 1em;
  border-radius: 5px;
  background: rgb(100,200,255);
  cursor: pointer;
  margin-left: 45%;
  transform: translateX(-50%);
}
.ley{
  text-align: center;
  
}
